:root {
  --cor-de-fundo: #f0E68C;
  --cor-primaria: #1C1C1C;
  --cor-secundaria: #8B4513;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--cor-de-fundo);
  font-size: 16px;
  background-size: cover;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Inicio Index  */

/* Inicio Header  */

#cabecalho {
  background-color: var(--cor-primaria);
  width: 100%;
}

#cabecalho-container {
  padding: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
  width: 350px;
}

.item-oculto {
  display: hidden;
}

.login-button {
  padding: 12px;
  border-radius: 5px;
  background-color: yellow;
  border: 1px solid #000;
}

.login-button:hover {
  cursor: pointer;
  background-color: #ffd700;
}

.logout-button {
  padding: 12px;
  border-radius: 5px;
  background-color: red;
  border: 1px solid #000;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #8b0000;
}

/* Fim Header  */

/* Inicio Main  */

#conteudo-principal {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#navegacao {
  height: 400px;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

nav {
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  padding: 15px;
}

li {
  padding: 10px;
  margin: 8px;
}

a {
  text-decoration: none;
  color: var(--cor-primaria);
}

a:hover {
  font-weight: bold;
}

.destaque {
  font-weight: bold;
  color: var(--cor-secundaria);
}

/* Inicio area postagens */

.postagem-menor {
  width: 700px;
  background-color: white;
  border-radius: 10px;
}

.postagem {
  width: 700px;
  background-color: white;
  border-radius: 10px;
}

.postagem-maior {
  width: 700px;
  height: 660px;
  background-color: white;
  border-radius: 10px;
}

.postagem-ainda-maior {
  width: 700px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.cabecalho-postagem {
  padding: 10px;
  margin-left: 15px;
}

.titulo-postagem {
  color: var(--cor-secundaria);
}

.data-postagem {
  font-size: 14px;
  display: inline-block;
  padding: 2px;
}

.midia-postagem {
  text-align: center;
}

.img-postagem {
  width: 650px;
  height: 350px;
  border-radius: 10px;
}

.img-postagem-maior {
  width: 650px;
  height: 630px;
  border-radius: 5px;
}

.rodape-postagem {
  padding: 12px 18px;
  margin: 8px 10px;
}

.leia-mais-link {
  margin-top: 2px;
  display: block;
}

.espacamento-superior {
  margin-top: 15px;
}

#area-lateral {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

.cabecalho-lateral {
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: var(--cor-de-fundo);
  border-radius: 10px;
}

.destaque-lateral {
  color: var(--cor-secundaria);
}

.conteudo-lateral {
  padding: 15px;
  margin: 10px;
  text-align: center;
}

/* Fim Main  */

/* Inicio Footer  */

#rodape {
  background-color: var(--cor-secundaria);
  padding: 30px;
  color: white;
  text-align: center;
}

.redes-sociais {
  padding: 5px;
  display: inline-block;
}

.item-link {
  margin: 5px;
}

.icon-sm {
  margin: 5px;
  width: 40px;
}

.icon-sm:hover {
  width: 45px;
  box-shadow: 5px 5px var(--cor-primaria);
  transition: 0.5s;
  border-radius: 10px;
}

.info-rodape {
  padding: 5px;
  font-size: 14px;
}

/* Fim Footer */

/* Inicio Mural  */

/* Inicio 1ª seção form  */

.area-mural {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.box-recado {
  width: 195px;
  height: 135px;
  font-size: 14px;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid #cecece;
  background-color: var(--cor-de-fundo);
}

.box-recado:hover {
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s;
}

.mensagem {
  padding: 15px;
}
/* Fim 1ª seção form */

/* Inicio 2ª seção form  */
.area-form {
  padding: 10px;
}

.recado-form {
  display: flex;
  flex-direction: column;
}

.titulo-mural {
  color: var(--cor-secundaria);
}

.form-m {
  padding: 2px;
}

.primeira-secao-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.autor-mural {
  margin-left: 15px;
}

.segunda-secao-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#recado {
  width: 600px;
  border-radius: 5px;
}

.mural-btn {
  padding: 10px;
  margin-top: 5px;
  background-color: #a0522d;
  color: white;
  border-radius: 5px;
  border: 1px solid var(--cor-primaria);
}

.mural-btn:hover {
  cursor: pointer;
  background-color: var(--cor-secundaria);
}

label {
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.campo-mural {
  width: 280px;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;
}
/* Fim Mural */

/* Inicio Galeria */
.postagem-am-galeria {
  width: 700px;
  height: 790px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

textarea {
  background-color: #eee;
}

.area-galeria {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.box-moldura {
  width: 213px;
  height: 180px;
  margin: 5px;
  background-color: var(--cor-de-fundo);
}

.box-moldura:hover {
  background-color: var(--cor-primaria);
  transition: 0.25s;
}

.img-galeria {
  width: 190px;
  height: 165px;
  margin-left: 12px;
  margin-top: 8px;
}

.img-galeria:hover {
  width: 200px;
  height: 170px;
  transition: 0.5s;
  margin: 5px;
}
/* Fim Galeria */

/* Inicio Trabalhe Conosco */
.box-trabalhe {
  padding: 5px 25px;
}

.cabecalho-form {
  text-align: center;
}

.img-icon {
  width: 80px;
}

.trabalhe-form {
  height: 580px;
  padding: 10px;
}

.form-t {
  height: 565px;
}

.form-gp-trabalhe {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  margin: 5px 10px;
}

.campo-data {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--cor-primaria);
  background-color: #eee;
}

.campo-sexo {
  width: 200px;
}

.gp-sexo {
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
  margin-top: 10px;
}

.item-campo {
  display: flex;
  flex-direction: column;
}

.item-apresentacao {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radio-btn {
  width: 20px;
}

.campo-trabalhe {
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid var(--cor-primaria);
}

.trabalhe-btn {
  padding: 10px;
  margin-top: 5px;
  background-color: #a0522d;
  color: white;
  border-radius: 5px;
  border: 1px solid var(--cor-primaria);
}

.trabalhe-btn:hover {
  cursor: pointer;
  background-color: var(--cor-secundaria);
}

#apresentacao {
  width: 595px;
  padding-top: 50px;
  border-radius: 5px;
}
/* Fim Trabalhe Conosco */

/* Inicio Login */

.voltar-button {
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: #eee;
  box-shadow: 2px 2px var(--cor-primaria);
}

#container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88.76vh;
}

.container-login {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px var(--cor-primaria);
}

.titulo-login {
  text-align: center;
  padding: 15px;
}

.area-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.campo-login {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid #eee;
}

.esqueceu-box {
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.esqueceu-button {
  float: right;
  margin-right: 25px;
  color: red;
  font-size: 10px;
}

.esqueceu-button:hover {
  font-weight: bold;
  cursor: pointer;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#entrar-button {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  color: white;
}

#entrar-button:hover {
  background-color: #000;
  cursor: pointer;
}

.cadastrar-button {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid var(--cor-primaria);
  background-color: #a0522d;
  color: white;
}

.cadastrar-button:hover {
  background-color: var(--cor-secundaria);
  cursor: pointer;
}

/* Fim Login*/

/* Inicio Index Admin */

#area-button-fixed {
  position: fixed;
  bottom: 30px;
  right: 250px;
}

#add-post-button {
  cursor: pointer;
  border-radius: 35px;
}

.form-novo-post {
  padding: 10px;
}

.form-area-header {
  display: flex;
  justify-content: space-around;
}

.form-area-novo-post {
  display: flex;
  flex-direction: column;
}

.input-titulo-novo-post {
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid var(--cor-primaria);
}

.input-data-novo-post {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--cor-primaria);
  background-color: #eee;
}

.form-area-main {
  padding: 10px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.form-area-btn {
  padding: 15px 35px;
  border-radius: 10px;
  border: 1px solid var(--cor-primaria);
  cursor: pointer;
  box-shadow: 3px 3px var(--cor-primaria);
}

#txt-post {
  width: 590px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/* Fim Index Admin */

/* Inicio Media Queries */
@media (max-width: 575.98px) {
  body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-de-fundo);
    font-size: 12px;
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  #cabecalho {
    width: 100%;
  }

  #cabecalho-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    width: 150px;
  }

  .login-button {
    padding: 5px;
    border-radius: 5px;
    background-color: yellow;
    border: 1px solid #000;
  }

  #conteudo-principal {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }

  #navegacao {
    height: 60px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav {
    background-color: white;
    font-size: 10px;
    border-radius: 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 5px;
  }

  li {
    padding: 8px;
    margin: 5px;
  }

  a {
    text-decoration: none;
    color: var(--cor-primaria);
  }

  #area-postagens {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .postagem-menor {
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
  }

  .postagem {
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
  }

  .postagem-maior {
    width: 350px;
    height: 510px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
  }

  .postagem-ainda-maior {
    width: 350px;
    margin: 5px;
  }

  .postagem-am-galeria {
    width: 350px;
    height: 990px;
    margin: 5px;
  }

  .cabecalho-postagem {
    padding: 10px;
    margin-left: 5px;
  }

  .titulo-postagem {
    color: var(--cor-secundaria);
  }

  .data-postagem {
    font-size: 10px;
    display: inline-block;
    padding: 1px;
  }

  .midia-postagem {
    text-align: center;
    width: 10px;
  }

  .img-postagem {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
  }

  .img-postagem-maior {
    width: 338px;
    height: 490px;
    border-radius: 5px;
    margin: 5px;
  }

  .rodape-postagem {
    padding: 12px 18px;
    margin: 8px 5px;
  }

  .leia-mais-link {
    margin-top: 5px;
    display: block;
  }

  .espacamento-superior {
    margin-top: 5px;
  }

  #area-lateral {
    width: 350px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cabecalho-lateral {
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    background-color: var(--cor-de-fundo);
    border-radius: 10px;
    width: 330px;
  }

  .destaque-lateral {
    color: var(--cor-secundaria);
  }

  .conteudo-lateral {
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .area-mural {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .box-recado {
    width: 140px;
    height: 100px;
    font-size: 10px;
    border: 1px solid whitesmoke;
    background-color: #eee8aa;
  }

  .box-recado:hover {
    width: 150px;
    height: 115px;
    font-size: 12px;
    transition: 0.5s;
  }

  .box-moldura {
    width: 150px;
    height: 150px;
  }

  .mensagem {
    padding: 15px;
  }

  #recado {
    width: 330px;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;
  }

  .mural-btn {
    width: 330px;
  }

  .area-form {
    padding: 0px;
  }

  .form-m {
    padding: 0.25px;
  }

  .trabalhe-btn {
    width: 300px;
  }

  .titulo-mural {
    font-size: 14px;
    margin: 0px 15px;
  }

  .autor-mural {
    margin-left: 15px;
  }

  .primeira-secao-form {
    display: flex;
    justify-content: space-around;
  }

  .campo-mural {
    width: 160px;
    border-radius: 5px;
    padding: 5px;
  }

  .segunda-secao-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .img-galeria {
    width: 130px;
    height: 130px;
    margin: 10px;
  }

  .img-galeria:hover {
    width: 140px;
    height: 140px;
    transition: 0.5s;
  }

  .box-trabalhe {
    height: 550px;
    padding: 0px;
  }

  .img-icon {
    width: 50px;
  }

  .trabalhe-form {
    width: 330px;
    margin-top: 10px;
    height: 480px;
    padding: 2px;
    height: 450px;
    display: flex;
    justify-content: space-around;
  }

  .form-t {
    width: 320px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-gp-trabalhe {
    width: 330px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .radio-btn {
    width: 15px;
  }

  .campo-sexo {
    width: 120px;
  }

  .gp-sexo {
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }

  .sexo-div {
    display: flex;
    gap: 1px;
    align-items: center;
  }

  .campo-trabalhe {
    width: 120px;
    border-radius: 5px;
  }

  .campo-data {
    width: 100px;
  }

  .item-campo {
    padding: 5px;
  }

  .item-apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #apresentacao {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }

  #rodape {
    background-color: var(--cor-secundaria);
    padding: 30px;
    color: white;
    text-align: center;
  }

  .redes-sociais {
    padding: 5px;
    display: inline-block;
  }

  .item-link {
    margin: 5px;
  }

  .icon-sm {
    margin: 5px;
    width: 35px;
  }

  .icon-sm:hover {
    width: 45px;
    box-shadow: 5px 5px var(--cor-primaria);
    transition: 0.5s;
    border-radius: 10px;
  }

  .info-rodape {
    padding: 5px;
    font-size: 10px;
  }

  .input-titulo-novo-post {
    width: 120px;
  }

  .input-data-novo-post {
    width: 150px;
  }

  .form-area-main {
    padding: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  #txt-post {
    width: 300px;
    height: 180px;
  }

  .form-area-btn {
    padding: 10px 15px;
  }

  #area-button-fixed {
    position: fixed;
    bottom: 30px;
    right: 10px;
  }

  #add-post-button {
    cursor: pointer;
    border-radius: 35px;
  }
}

/* Fim Media Queries */
